body {
	background: #F0F4F8;
	min-height: 100%;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	line-height: 1.4;
}

.activity-stream {
	list-style: none;
/*	width: 100%;*/
	height: 128px;
	overflow: hidden;
	position: relative;
}

.activity-stream li {
	padding: 1em;
	width: 30%;
	display: inline-block;
}

.horizontal-stream li {
	border-right: 1px solid #C3D3DD;
	border-left: 1px solid #fff;
}

.horizontal-stream li:first-child {
	border-left: none;
}

.horizontal-stream li:last-child {
	border-right: none;
}

li.last {
	border-right: 1px solid #C3D3DD;
}

li.middle {
	border-right: 1px solid #C3D3DD;
	border-left: 1px solid #fff;
}

li.first {
	border-left: 1px solid #fff;
}

.vertical-stream li {
	border-bottom: 1px solid #C3D3DD;
	border-top: 1px solid #fff;
}

.activity-stream li .date {
	position: absolute;
	color: #CCC;
	top: 1em;
	right: 2em;
	font-size: 0.7em;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.activity-stream li:hover .date {
	color: #8C9DA7;
}

.empty {
	opacity: 0.4;
}

.activity-item {
	position: relative;
	height: 8em;
}

.activity-item img {
	border-radius: 4px;
	height: 5.5em;
	width: 5.5em;
	position: absolute;
	top: 1.25em; left: 1.25em;
}

.activity-item div {
	background: #DCE7F1;
	margin-left: 7em;
	margin-top: 1em;
	height: 3em;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	text-align: center;
	line-height: 1.5em;
	padding: 0.5em;
	overflow: hidden;
}

.activity-item div p {
	margin: auto 0;
}

.activity-item .tiddler-title {
	display: block;
}

.activity-item div a {
	color: #BC4378;
	text-decoration: none;
}

.activity-item div a:hover {
	text-decoration: underline;
}

.transforms .activity-item {
	position: absolute;
	-o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
	-moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
	-webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
}

.transforms .middle {
	-o-transform: translate(100%, 0pt);
	-moz-transform: translate(100%, 0pt);
	-webkit-transform: translate(100%, 0pt);
}

.transforms .first {
	-o-transform: translate(200%, 0pt);
	-moz-transform: translate(200%, 0pt);
	-webkit-transform: translate(200%, 0pt);
}

.transforms .past {
	-o-transform: translate(-150%, 0pt);
	-moz-transform: translate(-150%, 0pt);
	-webkit-transform: translate(-150%, 0pt);
}

.transforms .next {
	-o-transform: translate(300%, 0pt);
	-moz-transform: translate(300%, 0pt);
	-webkit-transform: translate(300%, 0pt);
	opacity: 0;
}